{
  "environment": "prod",
  "debug": false,
  "Captcha": {
    "secret": "",
    "sitekey": ""
  },
  "Tweeter": {
    "similarityTreshold": 0.75,
    "cooldown": 8,
    "predefinedTweet": "I'm using the Lisinski Faucet to get some Lisinski Ether for the Lisinski Testnet. More information at ",
    "predefinedHashTags": "LisinskiTestnet, ethereum"
  }
  "Ethereum": {
    "milliEtherToTransferWithTweet": 1000,
    "milliEtherToTransferWithoutTweet": 50,
    "gasLimit": "21000",
    "prod": {
      "rpc": "http://127.0.0.1:8545",
      "account": "",
      "privateKey": ""
    }
  }
}
