button,
input,
textarea {
  outline: none;
  font-family: 'Poppins', sans-serif;
}

input {
  transition: 0.3s border-color;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #eee;

  &:focus {
    border-color: #08b3f2;
  }
}

input {
  padding: 0 15px;
  height: 36px;
  margin-bottom: 20px;
}

.request-tokens-button {
  @extend %btn;

  background-color: #08b3f2;

  &:hover {
    background-color: #079dd4;
  }

}

/* hide the blue outline */
.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

// Input card

.card-footer {
  font-style: italic;
  text-align: justify;
}

.card-header {
  font-weight: bold;
  font-size: x-large;
}

.card-body {
  padding: 1.25rem !important;
}
